<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		
	</system.web>
	<connectionStrings>
		<add
		  name="MoviesDB"
		  connectionString="Data Source=ESSQL1.walton.uark.edu; Initial Catalog=PROJECTF2104; User ID=PROJECTF2104; Password=IU89spz$"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	</configuration>
