@{
    ViewData["Title"] = "Filmatic";
   
} 
<div class="text-center">
    <h1 class="display-4">Filmatic</h1>
    <p><a>Welcome to Filmatic. What are you watching?</a></p>
</div>
<div class="text-center">
    <img src="~/film-reel.png" alt="film reel" style="width:300px;height:300px;" />
    
</div>
