@{
    ViewData["Title"] = "Movies";
    string[] TableHeaders = new string[] {"Name"
                        ,"Streamable"
                        ,"Release Date"
                        ,"Duration"
                                };
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Movie_Name</td>
                            <td>@Data.Streamable</td>
                            <td>@Data.Release_Date</td>
                            <td>@Data.Duration</td>
                            
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>