@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Program and site developed as part of a group project for ISYS 4363 in Fall of 2021 at the University of Arkansas. Data pulled is
    purely factual and pulled from credible sites. The group takes no liability for unfavorable statistics involving any movies.</p>

